@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap");
header {
  border-bottom: 4px solid rgb(230, 7, 7);
  background-color: black;
}
header .logo {
  width: 10rem;
  margin-left: 100px;
}
header .fuentes {
  font-size: 1.5rem;
  padding-left: 4rem;
  text-transform: uppercase;
}
header .fuentes .nav-item .nav-link {
  margin-left: 3rem;
}
header .fuentes .nav-item .nav-link:hover {
  background-color: grey;
  color: white;
  border-radius: 10px;
}
header .navbar-toggler {
  background-color: white;
}

footer .futer:hover {
  background-color: grey;
  border-radius: 50px;
}
footer .futer .colorInstagram {
  color: #dd2a7b;
}
footer .futer .colorYoutube {
  color: red;
}
footer .futer .colorFacebook {
  color: blue;
}
footer .ColorDerechos {
  color: white;
}

/* SECCION CUENTA */
.fotoBack {
  background-image: url("../img/jordan-volando.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  opacity: 0.9;
  margin-top: -50px;
  margin-bottom: -25px;
}
.fotoBack .containerRojo {
  width: 100%;
  justify-content: center;
  text-align: center;
}
@media (min-width: 601px) and (max-width: 1024px) {
  .fotoBack .containerRojo {
    max-width: 70%;
  }
}
@media (min-width: 1025px) and (max-width: 1920px) {
  .fotoBack .containerRojo {
    max-width: 50%;
  }
}
.fotoBack .containerRojo .startSesion {
  margin-top: 200rem;
  padding: 10px;
}
.fotoBack .containerRojo .startSesion .rojoBoton {
  background-color: red;
  color: white;
  border-color: black;
}
.fotoBack .containerRojo .startSesion .rojoBoton:hover {
  background-color: grey;
  color: white;
  border-color: black;
}
.fotoBack .containerRojo .startSesion .colorNaranja {
  color: rgb(202, 100, 16);
}
.fotoBack .containerRojo .startSesion .letraFuerte1 {
  text-align: center;
  justify-content: center;
  margin-top: 1px;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  color: rgb(202, 100, 16);
}
.fotoBack .containerRojo .startSesion .letraFuerte2 {
  text-align: center;
  justify-content: center;
  font-weight: bold;
  font-size: 30px;
  display: flex;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  color: rgb(202, 100, 16);
}
.fotoBack .containerRojo .startSesion .letraFuerte {
  text-align: center;
  justify-content: center;
  margin-top: 50px;
  font-weight: bold;
  font-size: 30px;
  display: flex;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  color: rgb(202, 100, 16);
}

.fotoAtras {
  background-image: url("../img/kobe-jumpshot.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  opacity: 0.9;
  margin-top: -50px;
  margin-bottom: -25px;
}
.fotoAtras .contactame {
  text-align: center;
  justify-content: center;
  margin-top: 50px;
  font-weight: bold;
  font-size: 45px;
  display: flex;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  color: rgb(202, 100, 16);
}
.fotoAtras .letraFuerte {
  text-align: center;
  justify-content: center;
  margin-top: 50px;
  font-weight: bold;
  font-size: 30px;
  display: flex;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  color: rgb(202, 100, 16);
}
.fotoAtras .distancia {
  margin-top: 100px;
}

body {
  font-family: "Oswald", sans-serif;
}

/* INDEX */
.canchaBasquet {
  background-image: url("../img/bata.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  opacity: 0.9;
  margin-top: -50px;
  margin-bottom: -25px;
}
.canchaBasquet .basquet {
  text-align: center;
  justify-content: center;
  margin-top: 50px;
  font-weight: bold;
  font-size: 50px;
  display: flex;
  color: rgb(202, 100, 16);
  padding: 10px;
}
.canchaBasquet .zapasIndex {
  text-align: center;
  justify-content: center;
}
@media (min-width: 320px) and (max-width: 600px) {
  .canchaBasquet .zapasIndex {
    max-width: 100%;
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  .canchaBasquet .zapasIndex {
    max-width: 100%;
  }
}
@media (min-width: 1025px) and (max-width: 1920px) {
  .canchaBasquet .zapasIndex {
    max-width: 100%;
  }
}
.canchaBasquet .carousel-inner img {
  max-height: 450px;
  max-width: 450px;
  margin: 0 auto;
  background-color: rgba(172, 164, 164, 0.5);
  border-radius: 50px;
  border: black solid;
}
.canchaBasquet .carousel-control-prev-icon,
.canchaBasquet .carousel-control-next-icon {
  color: #ff0000;
  font-size: 30px;
}
.canchaBasquet .carousel-control-prev,
.canchaBasquet .carousel-control-next {
  background-color: black;
  width: 40px;
}

/* SECCION PRODUCTOS */
.tituloZapatillas {
  background-color: rgb(168, 164, 164);
  color: rgb(202, 100, 16);
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1rem;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 5px 1px 0 black;
}
.tituloZapatillas h2 {
  font-size: 3rem;
}

.card {
  border: none;
}
.card .colorBoton {
  background-color: red;
  color: rgb(253, 253, 252);
}

/* SECCION SOBRE NOSOTROS */
.fotoLebron {
  background-image: url("../img/lebron-eluno.jpeg");
  background-size: cover;
  background-position: center;
  opacity: 0.8;
  margin-top: -50px;
  margin-bottom: -25px;
}
.fotoLebron .pelota {
  text-align: center;
  justify-content: center;
  margin-top: 50px;
  font-weight: bold;
  font-size: 10px;
  display: flex;
  color: yellow;
  padding: 10px;
}
@media (min-width: 320px) and (max-width: 600px) {
  .fotoLebron .pelota {
    font-size: 15px;
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  .fotoLebron .pelota {
    font-size: 30px;
  }
}
@media (min-width: 1025px) and (max-width: 1920px) {
  .fotoLebron .pelota {
    font-size: 40px;
  }
}
.fotoLebron .pelotaGrande {
  text-align: center;
  justify-content: center;
  margin-top: 50px;
  font-weight: bold;
  font-size: 10px;
  display: flex;
  color: yellow;
  padding: 10px;
  text-decoration: underline;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 5px 1px 0 black;
  color: rgb(202, 100, 16);
  text-transform: uppercase;
}
@media (min-width: 320px) and (max-width: 600px) {
  .fotoLebron .pelotaGrande {
    font-size: 25px;
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  .fotoLebron .pelotaGrande {
    font-size: 35px;
  }
}
@media (min-width: 1025px) and (max-width: 1920px) {
  .fotoLebron .pelotaGrande {
    font-size: 60px;
  }
}
.fotoLebron .subrayado {
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 5px 1px 0 black;
  color: rgb(202, 100, 16);
}

.tamañoTexto {
  font-size: 30px;
}

/*# sourceMappingURL=estilo.css.map */
