footer {
    .futer {
        &:hover {
            background-color: grey;
            border-radius: 50px;
        }

        .colorInstagram {
            color: #dd2a7b;
        }
    
        .colorYoutube {
            color: red;
        }
    
        .colorFacebook {
            color: blue;
        }
    
    }

    .ColorDerechos {
        color: white;
    }
}