/* SECCION CONTACTO */

.contactame {
    text-align: center;
    justify-content: center;
    margin-top: 50px;
    font-weight: bold;
    font-size: 45px;
    display: flex;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    color: rgb(202, 100, 16);
}

.letraFuerte {
    text-align: center;
    justify-content: center;
    margin-top: 50px;
    font-weight: bold;
    font-size: 30px;
    display: flex;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    color: rgb(202, 100, 16);
}

.letraFuerte1 {
    text-align: center;
    justify-content: center;
    margin-top: 1px;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    color: rgb(202, 100, 16);
}

.letraFuerte2 {
    text-align: center;
    justify-content: center;
    font-weight: bold;
    font-size: 30px;
    display: flex;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    color: rgb(202, 100, 16);
}

.inputGrande {
    font-size: 18px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    height: 100px;
}

.fotoAtras {
    background-image: url("../img/kobe-jumpshot.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    opacity: 0.9;
    margin-top: -50px;
    margin-bottom: -25px;
}

.distancia {
    margin-top: 100px;
}

/* SECCION CUENTA */

.fotoBack {
    background-image: url("../img/jordan-volando.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    opacity: 0.9;
    margin-top: -50px;
    margin-bottom: -25px;
}

.rojoBoton {
    background-color: red;
    color: white;
    border-color: black;

    &:hover {
        background-color: grey;
        color: white;
        border-color: black;
    }
}

.containerRojo {
    width: 100%;
    justify-content: center;
    text-align: center;

    @media (min-width: 601px) and (max-width: 1024px) {
        max-width: 70%;
    }

    @media (min-width: 1025px) and (max-width: 1920px) {
        max-width: 50%;
    }
}

.startSesion {
    margin-top: 200rem;
    padding: 10px;
}

.startSesion1 {
    margin-top: 200rem;
    padding: 10px;
}

.segundoForm {
    margin-top: 150px;
}

.colorNaranja {
    color: rgb(202, 100, 16);
}