header {
  border-bottom: 4px solid rgb(230, 7, 7);
  background-color: black;

  .logo {
    width: 10rem;
    margin-left: 100px;
  }

  .fuentes {
    font-size: 1.5rem;
    padding-left: 4rem;
    text-transform: uppercase;
    text-shadow: -3px 3px 2px rgba(0, 0, 0, 1);

    .nav-item {
      .nav-link {
        margin-left: 3rem;

        &:hover {
          background-color: rgb(252, 128, 12);
          color: rgb(255, 255, 255);
          border-radius: 10px;
        }
      }
    }
  }

  .navbar-toggler {
    background-color: rgb(255, 255, 255);
    margin: 20px;

  }
}